/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print { *, *:before, *:after { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  select { background: #fff !important; }
  .navbar { display: none; }
  .btn > .caret, .dropup > .btn > .caret { border-top-color: #000 !important; }
  .label { border: 1px solid #000; }
  .table { border-collapse: collapse !important; }
  .table td, .table th { background-color: #fff !important; }
  .table-bordered th, .table-bordered td { border: 1px solid #ddd !important; } }
@font-face { font-family: 'Glyphicons Halflings'; src: url("../../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot"); src: url("../../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), url("../../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
.glyphicon { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.glyphicon-asterisk:before { content: "\2a"; }

.glyphicon-plus:before { content: "\2b"; }

.glyphicon-euro:before, .glyphicon-eur:before { content: "\20ac"; }

.glyphicon-minus:before { content: "\2212"; }

.glyphicon-cloud:before { content: "\2601"; }

.glyphicon-envelope:before { content: "\2709"; }

.glyphicon-pencil:before { content: "\270f"; }

.glyphicon-glass:before { content: "\e001"; }

.glyphicon-music:before { content: "\e002"; }

.glyphicon-search:before { content: "\e003"; }

.glyphicon-heart:before { content: "\e005"; }

.glyphicon-star:before { content: "\e006"; }

.glyphicon-star-empty:before { content: "\e007"; }

.glyphicon-user:before { content: "\e008"; }

.glyphicon-film:before { content: "\e009"; }

.glyphicon-th-large:before { content: "\e010"; }

.glyphicon-th:before { content: "\e011"; }

.glyphicon-th-list:before { content: "\e012"; }

.glyphicon-ok:before { content: "\e013"; }

.glyphicon-remove:before { content: "\e014"; }

.glyphicon-zoom-in:before { content: "\e015"; }

.glyphicon-zoom-out:before { content: "\e016"; }

.glyphicon-off:before { content: "\e017"; }

.glyphicon-signal:before { content: "\e018"; }

.glyphicon-cog:before { content: "\e019"; }

.glyphicon-trash:before { content: "\e020"; }

.glyphicon-home:before { content: "\e021"; }

.glyphicon-file:before { content: "\e022"; }

.glyphicon-time:before { content: "\e023"; }

.glyphicon-road:before { content: "\e024"; }

.glyphicon-download-alt:before { content: "\e025"; }

.glyphicon-download:before { content: "\e026"; }

.glyphicon-upload:before { content: "\e027"; }

.glyphicon-inbox:before { content: "\e028"; }

.glyphicon-play-circle:before { content: "\e029"; }

.glyphicon-repeat:before { content: "\e030"; }

.glyphicon-refresh:before { content: "\e031"; }

.glyphicon-list-alt:before { content: "\e032"; }

.glyphicon-lock:before { content: "\e033"; }

.glyphicon-flag:before { content: "\e034"; }

.glyphicon-headphones:before { content: "\e035"; }

.glyphicon-volume-off:before { content: "\e036"; }

.glyphicon-volume-down:before { content: "\e037"; }

.glyphicon-volume-up:before { content: "\e038"; }

.glyphicon-qrcode:before { content: "\e039"; }

.glyphicon-barcode:before { content: "\e040"; }

.glyphicon-tag:before { content: "\e041"; }

.glyphicon-tags:before { content: "\e042"; }

.glyphicon-book:before { content: "\e043"; }

.glyphicon-bookmark:before { content: "\e044"; }

.glyphicon-print:before { content: "\e045"; }

.glyphicon-camera:before { content: "\e046"; }

.glyphicon-font:before { content: "\e047"; }

.glyphicon-bold:before { content: "\e048"; }

.glyphicon-italic:before { content: "\e049"; }

.glyphicon-text-height:before { content: "\e050"; }

.glyphicon-text-width:before { content: "\e051"; }

.glyphicon-align-left:before { content: "\e052"; }

.glyphicon-align-center:before { content: "\e053"; }

.glyphicon-align-right:before { content: "\e054"; }

.glyphicon-align-justify:before { content: "\e055"; }

.glyphicon-list:before { content: "\e056"; }

.glyphicon-indent-left:before { content: "\e057"; }

.glyphicon-indent-right:before { content: "\e058"; }

.glyphicon-facetime-video:before { content: "\e059"; }

.glyphicon-picture:before { content: "\e060"; }

.glyphicon-map-marker:before { content: "\e062"; }

.glyphicon-adjust:before { content: "\e063"; }

.glyphicon-tint:before { content: "\e064"; }

.glyphicon-edit:before { content: "\e065"; }

.glyphicon-share:before { content: "\e066"; }

.glyphicon-check:before { content: "\e067"; }

.glyphicon-move:before { content: "\e068"; }

.glyphicon-step-backward:before { content: "\e069"; }

.glyphicon-fast-backward:before { content: "\e070"; }

.glyphicon-backward:before { content: "\e071"; }

.glyphicon-play:before { content: "\e072"; }

.glyphicon-pause:before { content: "\e073"; }

.glyphicon-stop:before { content: "\e074"; }

.glyphicon-forward:before { content: "\e075"; }

.glyphicon-fast-forward:before { content: "\e076"; }

.glyphicon-step-forward:before { content: "\e077"; }

.glyphicon-eject:before { content: "\e078"; }

.glyphicon-chevron-left:before { content: "\e079"; }

.glyphicon-chevron-right:before { content: "\e080"; }

.glyphicon-plus-sign:before { content: "\e081"; }

.glyphicon-minus-sign:before { content: "\e082"; }

.glyphicon-remove-sign:before { content: "\e083"; }

.glyphicon-ok-sign:before { content: "\e084"; }

.glyphicon-question-sign:before { content: "\e085"; }

.glyphicon-info-sign:before { content: "\e086"; }

.glyphicon-screenshot:before { content: "\e087"; }

.glyphicon-remove-circle:before { content: "\e088"; }

.glyphicon-ok-circle:before { content: "\e089"; }

.glyphicon-ban-circle:before { content: "\e090"; }

.glyphicon-arrow-left:before { content: "\e091"; }

.glyphicon-arrow-right:before { content: "\e092"; }

.glyphicon-arrow-up:before { content: "\e093"; }

.glyphicon-arrow-down:before { content: "\e094"; }

.glyphicon-share-alt:before { content: "\e095"; }

.glyphicon-resize-full:before { content: "\e096"; }

.glyphicon-resize-small:before { content: "\e097"; }

.glyphicon-exclamation-sign:before { content: "\e101"; }

.glyphicon-gift:before { content: "\e102"; }

.glyphicon-leaf:before { content: "\e103"; }

.glyphicon-fire:before { content: "\e104"; }

.glyphicon-eye-open:before { content: "\e105"; }

.glyphicon-eye-close:before { content: "\e106"; }

.glyphicon-warning-sign:before { content: "\e107"; }

.glyphicon-plane:before { content: "\e108"; }

.glyphicon-calendar:before { content: "\e109"; }

.glyphicon-random:before { content: "\e110"; }

.glyphicon-comment:before { content: "\e111"; }

.glyphicon-magnet:before { content: "\e112"; }

.glyphicon-chevron-up:before { content: "\e113"; }

.glyphicon-chevron-down:before { content: "\e114"; }

.glyphicon-retweet:before { content: "\e115"; }

.glyphicon-shopping-cart:before { content: "\e116"; }

.glyphicon-folder-close:before { content: "\e117"; }

.glyphicon-folder-open:before { content: "\e118"; }

.glyphicon-resize-vertical:before { content: "\e119"; }

.glyphicon-resize-horizontal:before { content: "\e120"; }

.glyphicon-hdd:before { content: "\e121"; }

.glyphicon-bullhorn:before { content: "\e122"; }

.glyphicon-bell:before { content: "\e123"; }

.glyphicon-certificate:before { content: "\e124"; }

.glyphicon-thumbs-up:before { content: "\e125"; }

.glyphicon-thumbs-down:before { content: "\e126"; }

.glyphicon-hand-right:before { content: "\e127"; }

.glyphicon-hand-left:before { content: "\e128"; }

.glyphicon-hand-up:before { content: "\e129"; }

.glyphicon-hand-down:before { content: "\e130"; }

.glyphicon-circle-arrow-right:before { content: "\e131"; }

.glyphicon-circle-arrow-left:before { content: "\e132"; }

.glyphicon-circle-arrow-up:before { content: "\e133"; }

.glyphicon-circle-arrow-down:before { content: "\e134"; }

.glyphicon-globe:before { content: "\e135"; }

.glyphicon-wrench:before { content: "\e136"; }

.glyphicon-tasks:before { content: "\e137"; }

.glyphicon-filter:before { content: "\e138"; }

.glyphicon-briefcase:before { content: "\e139"; }

.glyphicon-fullscreen:before { content: "\e140"; }

.glyphicon-dashboard:before { content: "\e141"; }

.glyphicon-paperclip:before { content: "\e142"; }

.glyphicon-heart-empty:before { content: "\e143"; }

.glyphicon-link:before { content: "\e144"; }

.glyphicon-phone:before { content: "\e145"; }

.glyphicon-pushpin:before { content: "\e146"; }

.glyphicon-usd:before { content: "\e148"; }

.glyphicon-gbp:before { content: "\e149"; }

.glyphicon-sort:before { content: "\e150"; }

.glyphicon-sort-by-alphabet:before { content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before { content: "\e152"; }

.glyphicon-sort-by-order:before { content: "\e153"; }

.glyphicon-sort-by-order-alt:before { content: "\e154"; }

.glyphicon-sort-by-attributes:before { content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before { content: "\e156"; }

.glyphicon-unchecked:before { content: "\e157"; }

.glyphicon-expand:before { content: "\e158"; }

.glyphicon-collapse-down:before { content: "\e159"; }

.glyphicon-collapse-up:before { content: "\e160"; }

.glyphicon-log-in:before { content: "\e161"; }

.glyphicon-flash:before { content: "\e162"; }

.glyphicon-log-out:before { content: "\e163"; }

.glyphicon-new-window:before { content: "\e164"; }

.glyphicon-record:before { content: "\e165"; }

.glyphicon-save:before { content: "\e166"; }

.glyphicon-open:before { content: "\e167"; }

.glyphicon-saved:before { content: "\e168"; }

.glyphicon-import:before { content: "\e169"; }

.glyphicon-export:before { content: "\e170"; }

.glyphicon-send:before { content: "\e171"; }

.glyphicon-floppy-disk:before { content: "\e172"; }

.glyphicon-floppy-saved:before { content: "\e173"; }

.glyphicon-floppy-remove:before { content: "\e174"; }

.glyphicon-floppy-save:before { content: "\e175"; }

.glyphicon-floppy-open:before { content: "\e176"; }

.glyphicon-credit-card:before { content: "\e177"; }

.glyphicon-transfer:before { content: "\e178"; }

.glyphicon-cutlery:before { content: "\e179"; }

.glyphicon-header:before { content: "\e180"; }

.glyphicon-compressed:before { content: "\e181"; }

.glyphicon-earphone:before { content: "\e182"; }

.glyphicon-phone-alt:before { content: "\e183"; }

.glyphicon-tower:before { content: "\e184"; }

.glyphicon-stats:before { content: "\e185"; }

.glyphicon-sd-video:before { content: "\e186"; }

.glyphicon-hd-video:before { content: "\e187"; }

.glyphicon-subtitles:before { content: "\e188"; }

.glyphicon-sound-stereo:before { content: "\e189"; }

.glyphicon-sound-dolby:before { content: "\e190"; }

.glyphicon-sound-5-1:before { content: "\e191"; }

.glyphicon-sound-6-1:before { content: "\e192"; }

.glyphicon-sound-7-1:before { content: "\e193"; }

.glyphicon-copyright-mark:before { content: "\e194"; }

.glyphicon-registration-mark:before { content: "\e195"; }

.glyphicon-cloud-download:before { content: "\e197"; }

.glyphicon-cloud-upload:before { content: "\e198"; }

.glyphicon-tree-conifer:before { content: "\e199"; }

.glyphicon-tree-deciduous:before { content: "\e200"; }

.glyphicon-cd:before { content: "\e201"; }

.glyphicon-save-file:before { content: "\e202"; }

.glyphicon-open-file:before { content: "\e203"; }

.glyphicon-level-up:before { content: "\e204"; }

.glyphicon-copy:before { content: "\e205"; }

.glyphicon-paste:before { content: "\e206"; }

.glyphicon-alert:before { content: "\e209"; }

.glyphicon-equalizer:before { content: "\e210"; }

.glyphicon-king:before { content: "\e211"; }

.glyphicon-queen:before { content: "\e212"; }

.glyphicon-pawn:before { content: "\e213"; }

.glyphicon-bishop:before { content: "\e214"; }

.glyphicon-knight:before { content: "\e215"; }

.glyphicon-baby-formula:before { content: "\e216"; }

.glyphicon-tent:before { content: "\26fa"; }

.glyphicon-blackboard:before { content: "\e218"; }

.glyphicon-bed:before { content: "\e219"; }

.glyphicon-apple:before { content: "\f8ff"; }

.glyphicon-erase:before { content: "\e221"; }

.glyphicon-hourglass:before { content: "\231b"; }

.glyphicon-lamp:before { content: "\e223"; }

.glyphicon-duplicate:before { content: "\e224"; }

.glyphicon-piggy-bank:before { content: "\e225"; }

.glyphicon-scissors:before { content: "\e226"; }

.glyphicon-bitcoin:before { content: "\e227"; }

.glyphicon-btc:before { content: "\e227"; }

.glyphicon-xbt:before { content: "\e227"; }

.glyphicon-yen:before { content: "\00a5"; }

.glyphicon-jpy:before { content: "\00a5"; }

.glyphicon-ruble:before { content: "\20bd"; }

.glyphicon-rub:before { content: "\20bd"; }

.glyphicon-scale:before { content: "\e230"; }

.glyphicon-ice-lolly:before { content: "\e231"; }

.glyphicon-ice-lolly-tasted:before { content: "\e232"; }

.glyphicon-education:before { content: "\e233"; }

.glyphicon-option-horizontal:before { content: "\e234"; }

.glyphicon-option-vertical:before { content: "\e235"; }

.glyphicon-menu-hamburger:before { content: "\e236"; }

.glyphicon-modal-window:before { content: "\e237"; }

.glyphicon-oil:before { content: "\e238"; }

.glyphicon-grain:before { content: "\e239"; }

.glyphicon-sunglasses:before { content: "\e240"; }

.glyphicon-text-size:before { content: "\e241"; }

.glyphicon-text-color:before { content: "\e242"; }

.glyphicon-text-background:before { content: "\e243"; }

.glyphicon-object-align-top:before { content: "\e244"; }

.glyphicon-object-align-bottom:before { content: "\e245"; }

.glyphicon-object-align-horizontal:before { content: "\e246"; }

.glyphicon-object-align-left:before { content: "\e247"; }

.glyphicon-object-align-vertical:before { content: "\e248"; }

.glyphicon-object-align-right:before { content: "\e249"; }

.glyphicon-triangle-right:before { content: "\e250"; }

.glyphicon-triangle-left:before { content: "\e251"; }

.glyphicon-triangle-bottom:before { content: "\e252"; }

.glyphicon-triangle-top:before { content: "\e253"; }

.glyphicon-console:before { content: "\e254"; }

.glyphicon-superscript:before { content: "\e255"; }

.glyphicon-subscript:before { content: "\e256"; }

.glyphicon-menu-left:before { content: "\e257"; }

.glyphicon-menu-right:before { content: "\e258"; }

.glyphicon-menu-down:before { content: "\e259"; }

.glyphicon-menu-up:before { content: "\e260"; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 10px; -webkit-tap-highlight-color: transparent; }

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.42857; color: #333333; background-color: #fff; }

input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }

a { color: #337ab7; text-decoration: none; }
a:hover, a:focus { color: #22527b; text-decoration: underline; }
a:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

figure { margin: 0; }

img { vertical-align: middle; }

.img-responsive { display: block; max-width: 100%; height: auto; }

.img-rounded { border-radius: 6px; }

.img-thumbnail { padding: 4px; line-height: 1.42857; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; display: inline-block; max-width: 100%; height: auto; }

.img-circle { border-radius: 50%; }

hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #eeeeee; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus { position: static; width: auto; height: auto; margin: 0; overflow: visible; clip: auto; }

[role="button"] { cursor: pointer; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small, .h1 small, .h1 .small, .h2 small, .h2 .small, .h3 small, .h3 .small, .h4 small, .h4 .small, .h5 small, .h5 .small, .h6 small, .h6 .small { font-weight: normal; line-height: 1; color: #777777; }

h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 10px; }
h1 small, h1 .small, .h1 small, .h1 .small, h2 small, h2 .small, .h2 small, .h2 .small, h3 small, h3 .small, .h3 small, .h3 .small { font-size: 65%; }

h4, .h4, h5, .h5, h6, .h6 { margin-top: 10px; margin-bottom: 10px; }
h4 small, h4 .small, .h4 small, .h4 .small, h5 small, h5 .small, .h5 small, .h5 .small, h6 small, h6 .small, .h6 small, .h6 .small { font-size: 75%; }

h1, .h1 { font-size: 36px; }

h2, .h2 { font-size: 30px; }

h3, .h3 { font-size: 24px; }

h4, .h4 { font-size: 18px; }

h5, .h5 { font-size: 14px; }

h6, .h6 { font-size: 12px; }

p { margin: 0 0 10px; }

.lead { margin-bottom: 20px; font-size: 16px; font-weight: 300; line-height: 1.4; }
@media (min-width: 768px) { .lead { font-size: 21px; } }

small, .small { font-size: 85%; }

mark, .mark { background-color: #fcf8e3; padding: .2em; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.text-justify { text-align: justify; }

.text-nowrap { white-space: nowrap; }

.text-lowercase { text-transform: lowercase; }

.text-uppercase, .initialism { text-transform: uppercase; }

.text-capitalize { text-transform: capitalize; }

.text-muted { color: #777777; }

.text-primary { color: #337ab7; }

a.text-primary:hover { color: #285f8f; }

.text-success { color: #3c763d; }

a.text-success:hover { color: #2b542c; }

.text-info { color: #31708f; }

a.text-info:hover { color: #245269; }

.text-warning { color: #8a6d3b; }

a.text-warning:hover { color: #66512c; }

.text-danger { color: #a94442; }

a.text-danger:hover { color: #843534; }

.bg-primary { color: #fff; }

.bg-primary { background-color: #337ab7; }

a.bg-primary:hover { background-color: #285f8f; }

.bg-success { background-color: #dff0d8; }

a.bg-success:hover { background-color: #c1e2b3; }

.bg-info { background-color: #d9edf7; }

a.bg-info:hover { background-color: #afd9ee; }

.bg-warning { background-color: #fcf8e3; }

a.bg-warning:hover { background-color: #f7ecb5; }

.bg-danger { background-color: #f2dede; }

a.bg-danger:hover { background-color: #e4b9b9; }

.page-header { padding-bottom: 9px; margin: 40px 0 20px; border-bottom: 1px solid #eeeeee; }

ul, ol { margin-top: 0; margin-bottom: 10px; }
ul ul, ul ol, ol ul, ol ol { margin-bottom: 0; }

.list-unstyled { padding-left: 0; list-style: none; }

.list-inline { padding-left: 0; list-style: none; margin-left: -5px; }
.list-inline > li { display: inline-block; padding-left: 5px; padding-right: 5px; }

dl { margin-top: 0; margin-bottom: 20px; }

dt, dd { line-height: 1.42857; }

dt { font-weight: bold; }

dd { margin-left: 0; }

.dl-horizontal dd:before, .dl-horizontal dd:after { content: " "; display: table; }
.dl-horizontal dd:after { clear: both; }
@media (min-width: 768px) { .dl-horizontal dt { float: left; width: 160px; clear: left; text-align: right; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
  .dl-horizontal dd { margin-left: 180px; } }

abbr[title], abbr[data-original-title] { cursor: help; border-bottom: 1px dotted #777777; }

.initialism { font-size: 90%; }

blockquote { padding: 10px 20px; margin: 0 0 20px; font-size: 17.5px; border-left: 5px solid #eeeeee; }
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child { margin-bottom: 0; }
blockquote footer, blockquote small, blockquote .small { display: block; font-size: 80%; line-height: 1.42857; color: #777777; }
blockquote footer:before, blockquote small:before, blockquote .small:before { content: '\2014 \00A0'; }

.blockquote-reverse, blockquote.pull-right { padding-right: 15px; padding-left: 0; border-right: 5px solid #eeeeee; border-left: 0; text-align: right; }
.blockquote-reverse footer:before, .blockquote-reverse small:before, .blockquote-reverse .small:before, blockquote.pull-right footer:before, blockquote.pull-right small:before, blockquote.pull-right .small:before { content: ''; }
.blockquote-reverse footer:after, .blockquote-reverse small:after, .blockquote-reverse .small:after, blockquote.pull-right footer:after, blockquote.pull-right small:after, blockquote.pull-right .small:after { content: '\00A0 \2014'; }

address { margin-bottom: 20px; font-style: normal; line-height: 1.42857; }

.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container:before, .container:after { content: " "; display: table; }
.container:after { clear: both; }
@media (min-width: 768px) { .container { width: 750px; } }
@media (min-width: 992px) { .container { width: 970px; } }
@media (min-width: 1200px) { .container { width: 1170px; } }

.container-fluid { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container-fluid:before, .container-fluid:after { content: " "; display: table; }
.container-fluid:after { clear: both; }

.row { margin-left: -15px; margin-right: -15px; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }

.col-xs-1 { width: 8.33333%; }

.col-xs-2 { width: 16.66667%; }

.col-xs-3 { width: 25%; }

.col-xs-4 { width: 33.33333%; }

.col-xs-5 { width: 41.66667%; }

.col-xs-6 { width: 50%; }

.col-xs-7 { width: 58.33333%; }

.col-xs-8 { width: 66.66667%; }

.col-xs-9 { width: 75%; }

.col-xs-10 { width: 83.33333%; }

.col-xs-11 { width: 91.66667%; }

.col-xs-12 { width: 100%; }

.col-xs-pull-0 { right: auto; }

.col-xs-pull-1 { right: 8.33333%; }

.col-xs-pull-2 { right: 16.66667%; }

.col-xs-pull-3 { right: 25%; }

.col-xs-pull-4 { right: 33.33333%; }

.col-xs-pull-5 { right: 41.66667%; }

.col-xs-pull-6 { right: 50%; }

.col-xs-pull-7 { right: 58.33333%; }

.col-xs-pull-8 { right: 66.66667%; }

.col-xs-pull-9 { right: 75%; }

.col-xs-pull-10 { right: 83.33333%; }

.col-xs-pull-11 { right: 91.66667%; }

.col-xs-pull-12 { right: 100%; }

.col-xs-push-0 { left: auto; }

.col-xs-push-1 { left: 8.33333%; }

.col-xs-push-2 { left: 16.66667%; }

.col-xs-push-3 { left: 25%; }

.col-xs-push-4 { left: 33.33333%; }

.col-xs-push-5 { left: 41.66667%; }

.col-xs-push-6 { left: 50%; }

.col-xs-push-7 { left: 58.33333%; }

.col-xs-push-8 { left: 66.66667%; }

.col-xs-push-9 { left: 75%; }

.col-xs-push-10 { left: 83.33333%; }

.col-xs-push-11 { left: 91.66667%; }

.col-xs-push-12 { left: 100%; }

.col-xs-offset-0 { margin-left: 0%; }

.col-xs-offset-1 { margin-left: 8.33333%; }

.col-xs-offset-2 { margin-left: 16.66667%; }

.col-xs-offset-3 { margin-left: 25%; }

.col-xs-offset-4 { margin-left: 33.33333%; }

.col-xs-offset-5 { margin-left: 41.66667%; }

.col-xs-offset-6 { margin-left: 50%; }

.col-xs-offset-7 { margin-left: 58.33333%; }

.col-xs-offset-8 { margin-left: 66.66667%; }

.col-xs-offset-9 { margin-left: 75%; }

.col-xs-offset-10 { margin-left: 83.33333%; }

.col-xs-offset-11 { margin-left: 91.66667%; }

.col-xs-offset-12 { margin-left: 100%; }

@media (min-width: 768px) { .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-1 { width: 8.33333%; }
  .col-sm-2 { width: 16.66667%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333%; }
  .col-sm-5 { width: 41.66667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33333%; }
  .col-sm-8 { width: 66.66667%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33333%; }
  .col-sm-11 { width: 91.66667%; }
  .col-sm-12 { width: 100%; }
  .col-sm-pull-0 { right: auto; }
  .col-sm-pull-1 { right: 8.33333%; }
  .col-sm-pull-2 { right: 16.66667%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-4 { right: 33.33333%; }
  .col-sm-pull-5 { right: 41.66667%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-7 { right: 58.33333%; }
  .col-sm-pull-8 { right: 66.66667%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-10 { right: 83.33333%; }
  .col-sm-pull-11 { right: 91.66667%; }
  .col-sm-pull-12 { right: 100%; }
  .col-sm-push-0 { left: auto; }
  .col-sm-push-1 { left: 8.33333%; }
  .col-sm-push-2 { left: 16.66667%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-4 { left: 33.33333%; }
  .col-sm-push-5 { left: 41.66667%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-7 { left: 58.33333%; }
  .col-sm-push-8 { left: 66.66667%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-10 { left: 83.33333%; }
  .col-sm-push-11 { left: 91.66667%; }
  .col-sm-push-12 { left: 100%; }
  .col-sm-offset-0 { margin-left: 0%; }
  .col-sm-offset-1 { margin-left: 8.33333%; }
  .col-sm-offset-2 { margin-left: 16.66667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.33333%; }
  .col-sm-offset-5 { margin-left: 41.66667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.33333%; }
  .col-sm-offset-8 { margin-left: 66.66667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.33333%; }
  .col-sm-offset-11 { margin-left: 91.66667%; }
  .col-sm-offset-12 { margin-left: 100%; } }
@media (min-width: 992px) { .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-1 { width: 8.33333%; }
  .col-md-2 { width: 16.66667%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33333%; }
  .col-md-5 { width: 41.66667%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33333%; }
  .col-md-8 { width: 66.66667%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33333%; }
  .col-md-11 { width: 91.66667%; }
  .col-md-12 { width: 100%; }
  .col-md-pull-0 { right: auto; }
  .col-md-pull-1 { right: 8.33333%; }
  .col-md-pull-2 { right: 16.66667%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-4 { right: 33.33333%; }
  .col-md-pull-5 { right: 41.66667%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-7 { right: 58.33333%; }
  .col-md-pull-8 { right: 66.66667%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-10 { right: 83.33333%; }
  .col-md-pull-11 { right: 91.66667%; }
  .col-md-pull-12 { right: 100%; }
  .col-md-push-0 { left: auto; }
  .col-md-push-1 { left: 8.33333%; }
  .col-md-push-2 { left: 16.66667%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-4 { left: 33.33333%; }
  .col-md-push-5 { left: 41.66667%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-7 { left: 58.33333%; }
  .col-md-push-8 { left: 66.66667%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-10 { left: 83.33333%; }
  .col-md-push-11 { left: 91.66667%; }
  .col-md-push-12 { left: 100%; }
  .col-md-offset-0 { margin-left: 0%; }
  .col-md-offset-1 { margin-left: 8.33333%; }
  .col-md-offset-2 { margin-left: 16.66667%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-4 { margin-left: 33.33333%; }
  .col-md-offset-5 { margin-left: 41.66667%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-7 { margin-left: 58.33333%; }
  .col-md-offset-8 { margin-left: 66.66667%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-10 { margin-left: 83.33333%; }
  .col-md-offset-11 { margin-left: 91.66667%; }
  .col-md-offset-12 { margin-left: 100%; } }
@media (min-width: 1200px) { .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-1 { width: 8.33333%; }
  .col-lg-2 { width: 16.66667%; }
  .col-lg-3 { width: 25%; }
  .col-lg-4 { width: 33.33333%; }
  .col-lg-5 { width: 41.66667%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.33333%; }
  .col-lg-8 { width: 66.66667%; }
  .col-lg-9 { width: 75%; }
  .col-lg-10 { width: 83.33333%; }
  .col-lg-11 { width: 91.66667%; }
  .col-lg-12 { width: 100%; }
  .col-lg-pull-0 { right: auto; }
  .col-lg-pull-1 { right: 8.33333%; }
  .col-lg-pull-2 { right: 16.66667%; }
  .col-lg-pull-3 { right: 25%; }
  .col-lg-pull-4 { right: 33.33333%; }
  .col-lg-pull-5 { right: 41.66667%; }
  .col-lg-pull-6 { right: 50%; }
  .col-lg-pull-7 { right: 58.33333%; }
  .col-lg-pull-8 { right: 66.66667%; }
  .col-lg-pull-9 { right: 75%; }
  .col-lg-pull-10 { right: 83.33333%; }
  .col-lg-pull-11 { right: 91.66667%; }
  .col-lg-pull-12 { right: 100%; }
  .col-lg-push-0 { left: auto; }
  .col-lg-push-1 { left: 8.33333%; }
  .col-lg-push-2 { left: 16.66667%; }
  .col-lg-push-3 { left: 25%; }
  .col-lg-push-4 { left: 33.33333%; }
  .col-lg-push-5 { left: 41.66667%; }
  .col-lg-push-6 { left: 50%; }
  .col-lg-push-7 { left: 58.33333%; }
  .col-lg-push-8 { left: 66.66667%; }
  .col-lg-push-9 { left: 75%; }
  .col-lg-push-10 { left: 83.33333%; }
  .col-lg-push-11 { left: 91.66667%; }
  .col-lg-push-12 { left: 100%; }
  .col-lg-offset-0 { margin-left: 0%; }
  .col-lg-offset-1 { margin-left: 8.33333%; }
  .col-lg-offset-2 { margin-left: 16.66667%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-4 { margin-left: 33.33333%; }
  .col-lg-offset-5 { margin-left: 41.66667%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-7 { margin-left: 58.33333%; }
  .col-lg-offset-8 { margin-left: 66.66667%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-10 { margin-left: 83.33333%; }
  .col-lg-offset-11 { margin-left: 91.66667%; }
  .col-lg-offset-12 { margin-left: 100%; } }
fieldset { padding: 0; margin: 0; border: 0; min-width: 0; }

legend { display: block; width: 100%; padding: 0; margin-bottom: 20px; font-size: 21px; line-height: inherit; color: #333333; border: 0; border-bottom: 1px solid #e5e5e5; }

label { display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: bold; }

input[type="search"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

input[type="radio"], input[type="checkbox"] { margin: 4px 0 0; margin-top: 1px \9; line-height: normal; }

input[type="file"] { display: block; }

input[type="range"] { display: block; width: 100%; }

select[multiple], select[size] { height: auto; }

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

output { display: block; padding-top: 7px; font-size: 14px; line-height: 1.42857; color: #555555; }

.form-control { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857; color: #555555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
.form-control:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
.form-control::-moz-placeholder { color: #999; opacity: 1; }
.form-control:-ms-input-placeholder { color: #999; }
.form-control::-webkit-input-placeholder { color: #999; }
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background-color: #eeeeee; opacity: 1; }
.form-control[disabled], fieldset[disabled] .form-control { cursor: not-allowed; }

textarea.form-control { height: auto; }

input[type="search"] { -webkit-appearance: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] { line-height: 34px; }
  input[type="date"].input-sm, .input-group-sm input[type="date"], input[type="time"].input-sm, .input-group-sm input[type="time"], input[type="datetime-local"].input-sm, .input-group-sm input[type="datetime-local"], input[type="month"].input-sm, .input-group-sm input[type="month"] { line-height: 30px; }
  input[type="date"].input-lg, .input-group-lg input[type="date"], input[type="time"].input-lg, .input-group-lg input[type="time"], input[type="datetime-local"].input-lg, .input-group-lg input[type="datetime-local"], input[type="month"].input-lg, .input-group-lg input[type="month"] { line-height: 46px; } }
.form-group { margin-bottom: 15px; }

.radio, .checkbox { position: relative; display: block; margin-top: 10px; margin-bottom: 10px; }
.radio label, .checkbox label { min-height: 20px; padding-left: 20px; margin-bottom: 0; font-weight: normal; cursor: pointer; }

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { position: absolute; margin-left: -20px; margin-top: 4px \9; }

.radio + .radio, .checkbox + .checkbox { margin-top: -5px; }

.radio-inline, .checkbox-inline { position: relative; display: inline-block; padding-left: 20px; margin-bottom: 0; vertical-align: middle; font-weight: normal; cursor: pointer; }

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline { margin-top: 0; margin-left: 10px; }

input[type="radio"][disabled], input[type="radio"].disabled, fieldset[disabled] input[type="radio"], input[type="checkbox"][disabled], input[type="checkbox"].disabled, fieldset[disabled] input[type="checkbox"] { cursor: not-allowed; }

.radio-inline.disabled, fieldset[disabled] .radio-inline, .checkbox-inline.disabled, fieldset[disabled] .checkbox-inline { cursor: not-allowed; }

.radio.disabled label, fieldset[disabled] .radio label, .checkbox.disabled label, fieldset[disabled] .checkbox label { cursor: not-allowed; }

.form-control-static { padding-top: 7px; padding-bottom: 7px; margin-bottom: 0; min-height: 34px; }
.form-control-static.input-lg, .form-control-static.input-sm { padding-left: 0; padding-right: 0; }

.input-sm { height: 30px; padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }

select.input-sm { height: 30px; line-height: 30px; }

textarea.input-sm, select[multiple].input-sm { height: auto; }

.form-group-sm .form-control { height: 30px; padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.form-group-sm select.form-control { height: 30px; line-height: 30px; }
.form-group-sm textarea.form-control, .form-group-sm select[multiple].form-control { height: auto; }
.form-group-sm .form-control-static { height: 30px; padding: 5px 10px; font-size: 12px; line-height: 1.5; min-height: 32px; }

.input-lg { height: 46px; padding: 10px 16px; font-size: 18px; line-height: 1.33333; border-radius: 6px; }

select.input-lg { height: 46px; line-height: 46px; }

textarea.input-lg, select[multiple].input-lg { height: auto; }

.form-group-lg .form-control { height: 46px; padding: 10px 16px; font-size: 18px; line-height: 1.33333; border-radius: 6px; }
.form-group-lg select.form-control { height: 46px; line-height: 46px; }
.form-group-lg textarea.form-control, .form-group-lg select[multiple].form-control { height: auto; }
.form-group-lg .form-control-static { height: 46px; padding: 10px 16px; font-size: 18px; line-height: 1.33333; min-height: 38px; }

.has-feedback { position: relative; }
.has-feedback .form-control { padding-right: 42.5px; }

.form-control-feedback { position: absolute; top: 0; right: 0; z-index: 2; display: block; width: 34px; height: 34px; line-height: 34px; text-align: center; pointer-events: none; }

.input-lg + .form-control-feedback { width: 46px; height: 46px; line-height: 46px; }

.input-sm + .form-control-feedback { width: 30px; height: 30px; line-height: 30px; }

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label { color: #3c763d; }
.has-success .form-control { border-color: #3c763d; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.has-success .form-control:focus { border-color: #2b542c; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168; }
.has-success .input-group-addon { color: #3c763d; border-color: #3c763d; background-color: #dff0d8; }
.has-success .form-control-feedback { color: #3c763d; }

.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline, .has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label, .has-warning.checkbox-inline label { color: #8a6d3b; }
.has-warning .form-control { border-color: #8a6d3b; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.has-warning .form-control:focus { border-color: #66512c; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b; }
.has-warning .input-group-addon { color: #8a6d3b; border-color: #8a6d3b; background-color: #fcf8e3; }
.has-warning .form-control-feedback { color: #8a6d3b; }

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label { color: #a94442; }
.has-error .form-control { border-color: #a94442; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.has-error .form-control:focus { border-color: #843534; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }
.has-error .input-group-addon { color: #a94442; border-color: #a94442; background-color: #f2dede; }
.has-error .form-control-feedback { color: #a94442; }

.has-feedback label ~ .form-control-feedback { top: 25px; }
.has-feedback label.sr-only ~ .form-control-feedback { top: 0; }

.help-block { display: block; margin-top: 5px; margin-bottom: 10px; color: #737373; }

@media (min-width: 768px) { .form-inline .form-group { display: inline-block; margin-bottom: 0; vertical-align: middle; }
  .form-inline .form-control { display: inline-block; width: auto; vertical-align: middle; }
  .form-inline .form-control-static { display: inline-block; }
  .form-inline .input-group { display: inline-table; vertical-align: middle; }
  .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn, .form-inline .input-group .form-control { width: auto; }
  .form-inline .input-group > .form-control { width: 100%; }
  .form-inline .control-label { margin-bottom: 0; vertical-align: middle; }
  .form-inline .radio, .form-inline .checkbox { display: inline-block; margin-top: 0; margin-bottom: 0; vertical-align: middle; }
  .form-inline .radio label, .form-inline .checkbox label { padding-left: 0; }
  .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] { position: relative; margin-left: 0; }
  .form-inline .has-feedback .form-control-feedback { top: 0; } }

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline { margin-top: 0; margin-bottom: 0; padding-top: 7px; }
.form-horizontal .radio, .form-horizontal .checkbox { min-height: 27px; }
.form-horizontal .form-group { margin-left: -15px; margin-right: -15px; }
.form-horizontal .form-group:before, .form-horizontal .form-group:after { content: " "; display: table; }
.form-horizontal .form-group:after { clear: both; }
@media (min-width: 768px) { .form-horizontal .control-label { text-align: right; margin-bottom: 0; padding-top: 7px; } }
.form-horizontal .has-feedback .form-control-feedback { right: 15px; }
@media (min-width: 768px) { .form-horizontal .form-group-lg .control-label { padding-top: 14.33333px; } }
@media (min-width: 768px) { .form-horizontal .form-group-sm .control-label { padding-top: 6px; } }

.btn { display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; line-height: 1.42857; border-radius: 4px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn:hover, .btn:focus, .btn.focus { color: #333; text-decoration: none; }
.btn:active, .btn.active { outline: 0; background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn { cursor: not-allowed; pointer-events: none; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; }

.btn-default { color: #333; background-color: #fff; border-color: #ccc; }
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle { color: #333; background-color: #e6e6e6; border-color: #adadad; }
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle { background-image: none; }
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active { background-color: #fff; border-color: #ccc; }
.btn-default .badge { color: #fff; background-color: #333; }

.btn-primary { color: #fff; background-color: #337ab7; border-color: #2d6da3; }
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle { color: #fff; background-color: #285f8f; border-color: #204d73; }
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle { background-image: none; }
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active { background-color: #337ab7; border-color: #2d6da3; }
.btn-primary .badge { color: #337ab7; background-color: #fff; }

.btn-success { color: #fff; background-color: #5cb85c; border-color: #4cae4c; }
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle { color: #fff; background-color: #449d44; border-color: #398439; }
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle { background-image: none; }
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active { background-color: #5cb85c; border-color: #4cae4c; }
.btn-success .badge { color: #5cb85c; background-color: #fff; }

.btn-info { color: #fff; background-color: #5bc0de; border-color: #46b8da; }
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle { color: #fff; background-color: #31b0d5; border-color: #269abc; }
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle { background-image: none; }
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active { background-color: #5bc0de; border-color: #46b8da; }
.btn-info .badge { color: #5bc0de; background-color: #fff; }

.btn-warning { color: #fff; background-color: #f0ad4e; border-color: #eea236; }
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle { color: #fff; background-color: #ec971f; border-color: #d58512; }
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle { background-image: none; }
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active { background-color: #f0ad4e; border-color: #eea236; }
.btn-warning .badge { color: #f0ad4e; background-color: #fff; }

.btn-danger { color: #fff; background-color: #d9534f; border-color: #d43f3a; }
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle { color: #fff; background-color: #c9302c; border-color: #ac2925; }
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle { background-image: none; }
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active { background-color: #d9534f; border-color: #d43f3a; }
.btn-danger .badge { color: #d9534f; background-color: #fff; }

.btn-link { color: #337ab7; font-weight: normal; border-radius: 0; }
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link { background-color: transparent; -webkit-box-shadow: none; box-shadow: none; }
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active { border-color: transparent; }
.btn-link:hover, .btn-link:focus { color: #22527b; text-decoration: underline; background-color: transparent; }
.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus { color: #777777; text-decoration: none; }

.btn-lg { padding: 10px 16px; font-size: 18px; line-height: 1.33333; border-radius: 6px; }

.btn-sm { padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }

.btn-xs { padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; }

.btn-block { display: block; width: 100%; }

.btn-block + .btn-block { margin-top: 5px; }

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block { width: 100%; }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.center-block { display: block; margin-left: auto; margin-right: auto; }

.pull-right { float: right !important; }

.pull-left { float: left !important; }

.hide { display: none !important; }

.show { display: block !important; }

.invisible { visibility: hidden; }

.text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

.hidden { display: none !important; }

.affix { position: fixed; }

@-ms-viewport { width: device-width; }
.visible-xs { display: none !important; }

.visible-sm { display: none !important; }

.visible-md { display: none !important; }

.visible-lg { display: none !important; }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block { display: none !important; }

@media (max-width: 767px) { .visible-xs { display: block !important; }
  table.visible-xs { display: table; }
  tr.visible-xs { display: table-row !important; }
  th.visible-xs, td.visible-xs { display: table-cell !important; } }
@media (max-width: 767px) { .visible-xs-block { display: block !important; } }

@media (max-width: 767px) { .visible-xs-inline { display: inline !important; } }

@media (max-width: 767px) { .visible-xs-inline-block { display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) { .visible-sm { display: block !important; }
  table.visible-sm { display: table; }
  tr.visible-sm { display: table-row !important; }
  th.visible-sm, td.visible-sm { display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) { .visible-sm-block { display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) { .visible-sm-inline { display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) { .visible-sm-inline-block { display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) { .visible-md { display: block !important; }
  table.visible-md { display: table; }
  tr.visible-md { display: table-row !important; }
  th.visible-md, td.visible-md { display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .visible-md-block { display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) { .visible-md-inline { display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) { .visible-md-inline-block { display: inline-block !important; } }

@media (min-width: 1200px) { .visible-lg { display: block !important; }
  table.visible-lg { display: table; }
  tr.visible-lg { display: table-row !important; }
  th.visible-lg, td.visible-lg { display: table-cell !important; } }
@media (min-width: 1200px) { .visible-lg-block { display: block !important; } }

@media (min-width: 1200px) { .visible-lg-inline { display: inline !important; } }

@media (min-width: 1200px) { .visible-lg-inline-block { display: inline-block !important; } }

@media (max-width: 767px) { .hidden-xs { display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) { .hidden-sm { display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) { .hidden-md { display: none !important; } }
@media (min-width: 1200px) { .hidden-lg { display: none !important; } }
.visible-print { display: none !important; }

@media print { .visible-print { display: block !important; }
  table.visible-print { display: table; }
  tr.visible-print { display: table-row !important; }
  th.visible-print, td.visible-print { display: table-cell !important; } }
.visible-print-block { display: none !important; }
@media print { .visible-print-block { display: block !important; } }

.visible-print-inline { display: none !important; }
@media print { .visible-print-inline { display: inline !important; } }

.visible-print-inline-block { display: none !important; }
@media print { .visible-print-inline-block { display: inline-block !important; } }

@media print { .hidden-print { display: none !important; } }
.btn-primary.btn-inverted { background-color: transparent; color: #337ab7; }
.btn-primary.btn-inverted:hover { background-color: #337ab7; color: #fff; }

.no-padding { padding: 0; }

.no-margin { margin: 0; }

.padding-0 { padding: 0px; }

.padding-t-0 { padding-top: 0px; }

.padding-r-0 { padding-right: 0px; }

.padding-b-0 { padding-bottom: 0px; }

.padding-l-0 { padding-left: 0px; }

.margin-0 { margin: 0px; }

.margin-t-0 { margin-top: 0px; }

.margin-r-0 { margin-right: 0px; }

.margin-b-0 { margin-bottom: 0px; }

.margin-l-0 { margin-left: 0px; }

.padding-1 { padding: 1px; }

.padding-t-1 { padding-top: 1px; }

.padding-r-1 { padding-right: 1px; }

.padding-b-1 { padding-bottom: 1px; }

.padding-l-1 { padding-left: 1px; }

.margin-1 { margin: 1px; }

.margin-t-1 { margin-top: 1px; }

.margin-r-1 { margin-right: 1px; }

.margin-b-1 { margin-bottom: 1px; }

.margin-l-1 { margin-left: 1px; }

.padding-2 { padding: 2px; }

.padding-t-2 { padding-top: 2px; }

.padding-r-2 { padding-right: 2px; }

.padding-b-2 { padding-bottom: 2px; }

.padding-l-2 { padding-left: 2px; }

.margin-2 { margin: 2px; }

.margin-t-2 { margin-top: 2px; }

.margin-r-2 { margin-right: 2px; }

.margin-b-2 { margin-bottom: 2px; }

.margin-l-2 { margin-left: 2px; }

.padding-3 { padding: 3px; }

.padding-t-3 { padding-top: 3px; }

.padding-r-3 { padding-right: 3px; }

.padding-b-3 { padding-bottom: 3px; }

.padding-l-3 { padding-left: 3px; }

.margin-3 { margin: 3px; }

.margin-t-3 { margin-top: 3px; }

.margin-r-3 { margin-right: 3px; }

.margin-b-3 { margin-bottom: 3px; }

.margin-l-3 { margin-left: 3px; }

.padding-4 { padding: 4px; }

.padding-t-4 { padding-top: 4px; }

.padding-r-4 { padding-right: 4px; }

.padding-b-4 { padding-bottom: 4px; }

.padding-l-4 { padding-left: 4px; }

.margin-4 { margin: 4px; }

.margin-t-4 { margin-top: 4px; }

.margin-r-4 { margin-right: 4px; }

.margin-b-4 { margin-bottom: 4px; }

.margin-l-4 { margin-left: 4px; }

.padding-5 { padding: 5px; }

.padding-t-5 { padding-top: 5px; }

.padding-r-5 { padding-right: 5px; }

.padding-b-5 { padding-bottom: 5px; }

.padding-l-5 { padding-left: 5px; }

.margin-5 { margin: 5px; }

.margin-t-5 { margin-top: 5px; }

.margin-r-5 { margin-right: 5px; }

.margin-b-5 { margin-bottom: 5px; }

.margin-l-5 { margin-left: 5px; }

.padding-10 { padding: 10px; }

.padding-t-10 { padding-top: 10px; }

.padding-r-10 { padding-right: 10px; }

.padding-b-10 { padding-bottom: 10px; }

.padding-l-10 { padding-left: 10px; }

.margin-10 { margin: 10px; }

.margin-t-10 { margin-top: 10px; }

.margin-r-10 { margin-right: 10px; }

.margin-b-10 { margin-bottom: 10px; }

.margin-l-10 { margin-left: 10px; }

.padding-15 { padding: 15px; }

.padding-t-15 { padding-top: 15px; }

.padding-r-15 { padding-right: 15px; }

.padding-b-15 { padding-bottom: 15px; }

.padding-l-15 { padding-left: 15px; }

.margin-15 { margin: 15px; }

.margin-t-15 { margin-top: 15px; }

.margin-r-15 { margin-right: 15px; }

.margin-b-15 { margin-bottom: 15px; }

.margin-l-15 { margin-left: 15px; }

.padding-20 { padding: 20px; }

.padding-t-20 { padding-top: 20px; }

.padding-r-20 { padding-right: 20px; }

.padding-b-20 { padding-bottom: 20px; }

.padding-l-20 { padding-left: 20px; }

.margin-20 { margin: 20px; }

.margin-t-20 { margin-top: 20px; }

.margin-r-20 { margin-right: 20px; }

.margin-b-20 { margin-bottom: 20px; }

.margin-l-20 { margin-left: 20px; }

.padding-25 { padding: 25px; }

.padding-t-25 { padding-top: 25px; }

.padding-r-25 { padding-right: 25px; }

.padding-b-25 { padding-bottom: 25px; }

.padding-l-25 { padding-left: 25px; }

.margin-25 { margin: 25px; }

.margin-t-25 { margin-top: 25px; }

.margin-r-25 { margin-right: 25px; }

.margin-b-25 { margin-bottom: 25px; }

.margin-l-25 { margin-left: 25px; }

.padding-30 { padding: 30px; }

.padding-t-30 { padding-top: 30px; }

.padding-r-30 { padding-right: 30px; }

.padding-b-30 { padding-bottom: 30px; }

.padding-l-30 { padding-left: 30px; }

.margin-30 { margin: 30px; }

.margin-t-30 { margin-top: 30px; }

.margin-r-30 { margin-right: 30px; }

.margin-b-30 { margin-bottom: 30px; }

.margin-l-30 { margin-left: 30px; }

.padding-35 { padding: 35px; }

.padding-t-35 { padding-top: 35px; }

.padding-r-35 { padding-right: 35px; }

.padding-b-35 { padding-bottom: 35px; }

.padding-l-35 { padding-left: 35px; }

.margin-35 { margin: 35px; }

.margin-t-35 { margin-top: 35px; }

.margin-r-35 { margin-right: 35px; }

.margin-b-35 { margin-bottom: 35px; }

.margin-l-35 { margin-left: 35px; }

.padding-40 { padding: 40px; }

.padding-t-40 { padding-top: 40px; }

.padding-r-40 { padding-right: 40px; }

.padding-b-40 { padding-bottom: 40px; }

.padding-l-40 { padding-left: 40px; }

.margin-40 { margin: 40px; }

.margin-t-40 { margin-top: 40px; }

.margin-r-40 { margin-right: 40px; }

.margin-b-40 { margin-bottom: 40px; }

.margin-l-40 { margin-left: 40px; }

.padding-45 { padding: 45px; }

.padding-t-45 { padding-top: 45px; }

.padding-r-45 { padding-right: 45px; }

.padding-b-45 { padding-bottom: 45px; }

.padding-l-45 { padding-left: 45px; }

.margin-45 { margin: 45px; }

.margin-t-45 { margin-top: 45px; }

.margin-r-45 { margin-right: 45px; }

.margin-b-45 { margin-bottom: 45px; }

.margin-l-45 { margin-left: 45px; }

.padding-50 { padding: 50px; }

.padding-t-50 { padding-top: 50px; }

.padding-r-50 { padding-right: 50px; }

.padding-b-50 { padding-bottom: 50px; }

.padding-l-50 { padding-left: 50px; }

.margin-50 { margin: 50px; }

.margin-t-50 { margin-top: 50px; }

.margin-r-50 { margin-right: 50px; }

.margin-b-50 { margin-bottom: 50px; }

.margin-l-50 { margin-left: 50px; }

.padding-55 { padding: 55px; }

.padding-t-55 { padding-top: 55px; }

.padding-r-55 { padding-right: 55px; }

.padding-b-55 { padding-bottom: 55px; }

.padding-l-55 { padding-left: 55px; }

.margin-55 { margin: 55px; }

.margin-t-55 { margin-top: 55px; }

.margin-r-55 { margin-right: 55px; }

.margin-b-55 { margin-bottom: 55px; }

.margin-l-55 { margin-left: 55px; }

.padding-60 { padding: 60px; }

.padding-t-60 { padding-top: 60px; }

.padding-r-60 { padding-right: 60px; }

.padding-b-60 { padding-bottom: 60px; }

.padding-l-60 { padding-left: 60px; }

.margin-60 { margin: 60px; }

.margin-t-60 { margin-top: 60px; }

.margin-r-60 { margin-right: 60px; }

.margin-b-60 { margin-bottom: 60px; }

.margin-l-60 { margin-left: 60px; }

.padding-65 { padding: 65px; }

.padding-t-65 { padding-top: 65px; }

.padding-r-65 { padding-right: 65px; }

.padding-b-65 { padding-bottom: 65px; }

.padding-l-65 { padding-left: 65px; }

.margin-65 { margin: 65px; }

.margin-t-65 { margin-top: 65px; }

.margin-r-65 { margin-right: 65px; }

.margin-b-65 { margin-bottom: 65px; }

.margin-l-65 { margin-left: 65px; }

.padding-70 { padding: 70px; }

.padding-t-70 { padding-top: 70px; }

.padding-r-70 { padding-right: 70px; }

.padding-b-70 { padding-bottom: 70px; }

.padding-l-70 { padding-left: 70px; }

.margin-70 { margin: 70px; }

.margin-t-70 { margin-top: 70px; }

.margin-r-70 { margin-right: 70px; }

.margin-b-70 { margin-bottom: 70px; }

.margin-l-70 { margin-left: 70px; }

.padding-75 { padding: 75px; }

.padding-t-75 { padding-top: 75px; }

.padding-r-75 { padding-right: 75px; }

.padding-b-75 { padding-bottom: 75px; }

.padding-l-75 { padding-left: 75px; }

.margin-75 { margin: 75px; }

.margin-t-75 { margin-top: 75px; }

.margin-r-75 { margin-right: 75px; }

.margin-b-75 { margin-bottom: 75px; }

.margin-l-75 { margin-left: 75px; }

.padding-80 { padding: 80px; }

.padding-t-80 { padding-top: 80px; }

.padding-r-80 { padding-right: 80px; }

.padding-b-80 { padding-bottom: 80px; }

.padding-l-80 { padding-left: 80px; }

.margin-80 { margin: 80px; }

.margin-t-80 { margin-top: 80px; }

.margin-r-80 { margin-right: 80px; }

.margin-b-80 { margin-bottom: 80px; }

.margin-l-80 { margin-left: 80px; }

.padding-85 { padding: 85px; }

.padding-t-85 { padding-top: 85px; }

.padding-r-85 { padding-right: 85px; }

.padding-b-85 { padding-bottom: 85px; }

.padding-l-85 { padding-left: 85px; }

.margin-85 { margin: 85px; }

.margin-t-85 { margin-top: 85px; }

.margin-r-85 { margin-right: 85px; }

.margin-b-85 { margin-bottom: 85px; }

.margin-l-85 { margin-left: 85px; }

.padding-90 { padding: 90px; }

.padding-t-90 { padding-top: 90px; }

.padding-r-90 { padding-right: 90px; }

.padding-b-90 { padding-bottom: 90px; }

.padding-l-90 { padding-left: 90px; }

.margin-90 { margin: 90px; }

.margin-t-90 { margin-top: 90px; }

.margin-r-90 { margin-right: 90px; }

.margin-b-90 { margin-bottom: 90px; }

.margin-l-90 { margin-left: 90px; }

.padding-95 { padding: 95px; }

.padding-t-95 { padding-top: 95px; }

.padding-r-95 { padding-right: 95px; }

.padding-b-95 { padding-bottom: 95px; }

.padding-l-95 { padding-left: 95px; }

.margin-95 { margin: 95px; }

.margin-t-95 { margin-top: 95px; }

.margin-r-95 { margin-right: 95px; }

.margin-b-95 { margin-bottom: 95px; }

.margin-l-95 { margin-left: 95px; }

.padding-100 { padding: 100px; }

.padding-t-100 { padding-top: 100px; }

.padding-r-100 { padding-right: 100px; }

.padding-b-100 { padding-bottom: 100px; }

.padding-l-100 { padding-left: 100px; }

.margin-100 { margin: 100px; }

.margin-t-100 { margin-top: 100px; }

.margin-r-100 { margin-right: 100px; }

.margin-b-100 { margin-bottom: 100px; }

.margin-l-100 { margin-left: 100px; }

.padding-105 { padding: 105px; }

.padding-t-105 { padding-top: 105px; }

.padding-r-105 { padding-right: 105px; }

.padding-b-105 { padding-bottom: 105px; }

.padding-l-105 { padding-left: 105px; }

.margin-105 { margin: 105px; }

.margin-t-105 { margin-top: 105px; }

.margin-r-105 { margin-right: 105px; }

.margin-b-105 { margin-bottom: 105px; }

.margin-l-105 { margin-left: 105px; }

.padding-110 { padding: 110px; }

.padding-t-110 { padding-top: 110px; }

.padding-r-110 { padding-right: 110px; }

.padding-b-110 { padding-bottom: 110px; }

.padding-l-110 { padding-left: 110px; }

.margin-110 { margin: 110px; }

.margin-t-110 { margin-top: 110px; }

.margin-r-110 { margin-right: 110px; }

.margin-b-110 { margin-bottom: 110px; }

.margin-l-110 { margin-left: 110px; }

.padding-115 { padding: 115px; }

.padding-t-115 { padding-top: 115px; }

.padding-r-115 { padding-right: 115px; }

.padding-b-115 { padding-bottom: 115px; }

.padding-l-115 { padding-left: 115px; }

.margin-115 { margin: 115px; }

.margin-t-115 { margin-top: 115px; }

.margin-r-115 { margin-right: 115px; }

.margin-b-115 { margin-bottom: 115px; }

.margin-l-115 { margin-left: 115px; }

.padding-120 { padding: 120px; }

.padding-t-120 { padding-top: 120px; }

.padding-r-120 { padding-right: 120px; }

.padding-b-120 { padding-bottom: 120px; }

.padding-l-120 { padding-left: 120px; }

.margin-120 { margin: 120px; }

.margin-t-120 { margin-top: 120px; }

.margin-r-120 { margin-right: 120px; }

.margin-b-120 { margin-bottom: 120px; }

.margin-l-120 { margin-left: 120px; }

.padding-125 { padding: 125px; }

.padding-t-125 { padding-top: 125px; }

.padding-r-125 { padding-right: 125px; }

.padding-b-125 { padding-bottom: 125px; }

.padding-l-125 { padding-left: 125px; }

.margin-125 { margin: 125px; }

.margin-t-125 { margin-top: 125px; }

.margin-r-125 { margin-right: 125px; }

.margin-b-125 { margin-bottom: 125px; }

.margin-l-125 { margin-left: 125px; }

.padding-130 { padding: 130px; }

.padding-t-130 { padding-top: 130px; }

.padding-r-130 { padding-right: 130px; }

.padding-b-130 { padding-bottom: 130px; }

.padding-l-130 { padding-left: 130px; }

.margin-130 { margin: 130px; }

.margin-t-130 { margin-top: 130px; }

.margin-r-130 { margin-right: 130px; }

.margin-b-130 { margin-bottom: 130px; }

.margin-l-130 { margin-left: 130px; }

.padding-135 { padding: 135px; }

.padding-t-135 { padding-top: 135px; }

.padding-r-135 { padding-right: 135px; }

.padding-b-135 { padding-bottom: 135px; }

.padding-l-135 { padding-left: 135px; }

.margin-135 { margin: 135px; }

.margin-t-135 { margin-top: 135px; }

.margin-r-135 { margin-right: 135px; }

.margin-b-135 { margin-bottom: 135px; }

.margin-l-135 { margin-left: 135px; }

.padding-140 { padding: 140px; }

.padding-t-140 { padding-top: 140px; }

.padding-r-140 { padding-right: 140px; }

.padding-b-140 { padding-bottom: 140px; }

.padding-l-140 { padding-left: 140px; }

.margin-140 { margin: 140px; }

.margin-t-140 { margin-top: 140px; }

.margin-r-140 { margin-right: 140px; }

.margin-b-140 { margin-bottom: 140px; }

.margin-l-140 { margin-left: 140px; }

.padding-145 { padding: 145px; }

.padding-t-145 { padding-top: 145px; }

.padding-r-145 { padding-right: 145px; }

.padding-b-145 { padding-bottom: 145px; }

.padding-l-145 { padding-left: 145px; }

.margin-145 { margin: 145px; }

.margin-t-145 { margin-top: 145px; }

.margin-r-145 { margin-right: 145px; }

.margin-b-145 { margin-bottom: 145px; }

.margin-l-145 { margin-left: 145px; }

.padding-150 { padding: 150px; }

.padding-t-150 { padding-top: 150px; }

.padding-r-150 { padding-right: 150px; }

.padding-b-150 { padding-bottom: 150px; }

.padding-l-150 { padding-left: 150px; }

.margin-150 { margin: 150px; }

.margin-t-150 { margin-top: 150px; }

.margin-r-150 { margin-right: 150px; }

.margin-b-150 { margin-bottom: 150px; }

.margin-l-150 { margin-left: 150px; }

.padding-155 { padding: 155px; }

.padding-t-155 { padding-top: 155px; }

.padding-r-155 { padding-right: 155px; }

.padding-b-155 { padding-bottom: 155px; }

.padding-l-155 { padding-left: 155px; }

.margin-155 { margin: 155px; }

.margin-t-155 { margin-top: 155px; }

.margin-r-155 { margin-right: 155px; }

.margin-b-155 { margin-bottom: 155px; }

.margin-l-155 { margin-left: 155px; }

.padding-160 { padding: 160px; }

.padding-t-160 { padding-top: 160px; }

.padding-r-160 { padding-right: 160px; }

.padding-b-160 { padding-bottom: 160px; }

.padding-l-160 { padding-left: 160px; }

.margin-160 { margin: 160px; }

.margin-t-160 { margin-top: 160px; }

.margin-r-160 { margin-right: 160px; }

.margin-b-160 { margin-bottom: 160px; }

.margin-l-160 { margin-left: 160px; }

.padding-165 { padding: 165px; }

.padding-t-165 { padding-top: 165px; }

.padding-r-165 { padding-right: 165px; }

.padding-b-165 { padding-bottom: 165px; }

.padding-l-165 { padding-left: 165px; }

.margin-165 { margin: 165px; }

.margin-t-165 { margin-top: 165px; }

.margin-r-165 { margin-right: 165px; }

.margin-b-165 { margin-bottom: 165px; }

.margin-l-165 { margin-left: 165px; }

.padding-170 { padding: 170px; }

.padding-t-170 { padding-top: 170px; }

.padding-r-170 { padding-right: 170px; }

.padding-b-170 { padding-bottom: 170px; }

.padding-l-170 { padding-left: 170px; }

.margin-170 { margin: 170px; }

.margin-t-170 { margin-top: 170px; }

.margin-r-170 { margin-right: 170px; }

.margin-b-170 { margin-bottom: 170px; }

.margin-l-170 { margin-left: 170px; }

.padding-175 { padding: 175px; }

.padding-t-175 { padding-top: 175px; }

.padding-r-175 { padding-right: 175px; }

.padding-b-175 { padding-bottom: 175px; }

.padding-l-175 { padding-left: 175px; }

.margin-175 { margin: 175px; }

.margin-t-175 { margin-top: 175px; }

.margin-r-175 { margin-right: 175px; }

.margin-b-175 { margin-bottom: 175px; }

.margin-l-175 { margin-left: 175px; }

.padding-180 { padding: 180px; }

.padding-t-180 { padding-top: 180px; }

.padding-r-180 { padding-right: 180px; }

.padding-b-180 { padding-bottom: 180px; }

.padding-l-180 { padding-left: 180px; }

.margin-180 { margin: 180px; }

.margin-t-180 { margin-top: 180px; }

.margin-r-180 { margin-right: 180px; }

.margin-b-180 { margin-bottom: 180px; }

.margin-l-180 { margin-left: 180px; }

.padding-185 { padding: 185px; }

.padding-t-185 { padding-top: 185px; }

.padding-r-185 { padding-right: 185px; }

.padding-b-185 { padding-bottom: 185px; }

.padding-l-185 { padding-left: 185px; }

.margin-185 { margin: 185px; }

.margin-t-185 { margin-top: 185px; }

.margin-r-185 { margin-right: 185px; }

.margin-b-185 { margin-bottom: 185px; }

.margin-l-185 { margin-left: 185px; }

.padding-190 { padding: 190px; }

.padding-t-190 { padding-top: 190px; }

.padding-r-190 { padding-right: 190px; }

.padding-b-190 { padding-bottom: 190px; }

.padding-l-190 { padding-left: 190px; }

.margin-190 { margin: 190px; }

.margin-t-190 { margin-top: 190px; }

.margin-r-190 { margin-right: 190px; }

.margin-b-190 { margin-bottom: 190px; }

.margin-l-190 { margin-left: 190px; }

.padding-195 { padding: 195px; }

.padding-t-195 { padding-top: 195px; }

.padding-r-195 { padding-right: 195px; }

.padding-b-195 { padding-bottom: 195px; }

.padding-l-195 { padding-left: 195px; }

.margin-195 { margin: 195px; }

.margin-t-195 { margin-top: 195px; }

.margin-r-195 { margin-right: 195px; }

.margin-b-195 { margin-bottom: 195px; }

.margin-l-195 { margin-left: 195px; }

.padding-200 { padding: 200px; }

.padding-t-200 { padding-top: 200px; }

.padding-r-200 { padding-right: 200px; }

.padding-b-200 { padding-bottom: 200px; }

.padding-l-200 { padding-left: 200px; }

.margin-200 { margin: 200px; }

.margin-t-200 { margin-top: 200px; }

.margin-r-200 { margin-right: 200px; }

.margin-b-200 { margin-bottom: 200px; }

.margin-l-200 { margin-left: 200px; }

.margin-auto { margin-left: auto; margin-right: auto; }

.debug { border: 1px solid #f00; }

.as-block { display: block; }

.as-flex { display: flex; }

.as-inline-block { display: inline-block; }

.position-rel { position: relative; }

.position-abs { position: absolute; }

.round { border-radius: 50%; }

.no-border-radius { border-radius: 0; }

.no-border { border: 0; }

.overflow-hidden { overflow: hidden; }

.overflow-auto { overflow: auto; }

.overflow-x-hidden { overflow-x: hidden; }

.font-smoothing { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.font-lighter { font-weight: lighter; }

.font-normal { font-weight: normal; }

.font-bold { font-weight: bold; }

.font-bolder { font-weight: bolder; }

.font-sans-serif { family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.font-serif { font-family: Georgia, "Times New Roman", Times, serif; }

.font-size-base { font-size: 14px; }

.font-size-large { font-size: 18px; }

.font-size-small { font-size: 12px; }

.font-size-h1 { font-size: 36px; }

.font-size-h2 { font-size: 30px; }

.font-size-h3 { font-size: 24px; }

.font-size-h4 { font-size: 18px; }

.font-size-h5 { font-size: 14px; }

.font-size-h6 { font-size: 12px; }

.text-no-transform { text-transform: none; }

.no-underline { text-decoration: none; }

.text-overflow { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.color-white { color: #fff; }

.color-black { color: #000; }

.text-color { color: #333333; }

.gray-base { color: #000; }

.bg-gray-base { background-color: #000; }

.gray-darker { color: #222222; }

.bg-gray-darker { background-color: #222222; }

.gray-dark { color: #333333; }

.bg-gray-dark { background-color: #333333; }

.gray { color: #555555; }

.bg-gray { background-color: #555555; }

.gray-light { color: #777777; }

.bg-gray-light { background-color: #777777; }

.gray-lighter { color: #eeeeee; }

.bg-gray-lighter { background-color: #eeeeee; }

.brand-primary { color: #337ab7; }

.bg-brand-primary { background-color: #337ab7; }

.brand-primary { color: #337ab7; }

.bg-brand-primary { background-color: #337ab7; }

.brand-success { color: #5cb85c; }

.bg-brand-success { background-color: #5cb85c; }

.brand-info { color: #5bc0de; }

.bg-brand-info { background-color: #5bc0de; }

.brand-warning { color: #f0ad4e; }

.bg-brand-warning { background-color: #f0ad4e; }

.brand-danger { color: #d9534f; }

.bg-brand-danger { background-color: #d9534f; }

.no-shadow { box-shadow: 0 0 0 0; }

.transition-all, .animated { transition: all 250ms; }

/*# sourceMappingURL=style.css.map */
