// $values: ('0','2','5','10','15','20','25','30','35','40','45','50','55','60','65','70','75');

// @for $i from 1 through length($values) {
//   .padding-#{unquote(nth($values, $i))} { padding: unquote(nth($values, $i))+"px" };
//   .padding-t-#{unquote(nth($values, $i))} { padding-top: unquote(nth($values, $i))+"px" };
//   .padding-r-#{unquote(nth($values, $i))} { padding-right: unquote(nth($values, $i))+"px" };
//   .padding-b-#{unquote(nth($values, $i))} { padding-bottom: unquote(nth($values, $i))+"px" };
//   .padding-l-#{unquote(nth($values, $i))} { padding-left: unquote(nth($values, $i))+"px" };

//   .margin-#{unquote(nth($values, $i))} { margin: unquote(nth($values, $i))+"px" };
//   .margin-t-#{unquote(nth($values, $i))} { margin-top: unquote(nth($values, $i))+"px" };
//   .margin-r-#{unquote(nth($values, $i))} { margin-right: unquote(nth($values, $i))+"px" };
//   .margin-b-#{unquote(nth($values, $i))} { margin-bottom: unquote(nth($values, $i))+"px" };
//   .margin-l-#{unquote(nth($values, $i))} { margin-left: unquote(nth($values, $i))+"px" };
// }
.no-padding {
  padding : 0;
}
.no-margin {
  margin : 0;
}

@for $i from 0 through 4 {
  .padding-#{$i} { padding: #{$i}px };
  .padding-t-#{$i} { padding-top: #{$i}px };
  .padding-r-#{$i} { padding-right: #{$i}px };
  .padding-b-#{$i} { padding-bottom: #{$i}px };
  .padding-l-#{$i} { padding-left: #{$i}px };

  .margin-#{$i} { margin: #{$i}px };
  .margin-t-#{$i} { margin-top: #{$i}px };
  .margin-r-#{$i} { margin-right: #{$i}px };
  .margin-b-#{$i} { margin-bottom: #{$i}px };
  .margin-l-#{$i} { margin-left: #{$i}px };
}

@for $i from 1 through 40 {
  .padding-#{$i * 5} { padding: #{$i * 5}px };
  .padding-t-#{$i * 5} { padding-top: #{$i * 5}px };
  .padding-r-#{$i * 5} { padding-right: #{$i * 5}px };
  .padding-b-#{$i * 5} { padding-bottom: #{$i * 5}px };
  .padding-l-#{$i * 5} { padding-left: #{$i * 5}px };

  .margin-#{$i * 5} { margin: #{$i * 5}px };
  .margin-t-#{$i * 5} { margin-top: #{$i * 5}px };
  .margin-r-#{$i * 5} { margin-right: #{$i * 5}px };
  .margin-b-#{$i * 5} { margin-bottom: #{$i * 5}px };
  .margin-l-#{$i * 5} { margin-left: #{$i * 5}px };
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
